.game{
    height: 110vh;
    background-image: url("https://i.ibb.co/WpkLY7q/game-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.game-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: grid;
    //grid-template-columns: 100px 100px 100px 100px 100px;
    // grid-template-columns: repeat(5, 100px);
    // grid-template-rows: repeat(auto, 100px);
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    perspective: 1000px;
    position: relative;

    .card{
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        transition: 0.6s;
        transform-style: preserve-3d;
        transform-origin: 50% 0;
        z-index: 100;
        border-radius: 8px;

        // &:hover{
        //     transform: rotateY(180deg);
        // }

        &-front, &-back{
            position: absolute;
            width: 100px;
            height: 100px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 8px;
            border: 3px solid purple;
        }

        &-front{
            transform: rotateY(0deg);
            z-index: 2;
            background-color: blueviolet;
            color: purple;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            cursor: pointer;
        }

        &-back{
            transform: rotateY(-180deg);
            background-size: cover;
        }
    }
}

.game-options{
    background-color: #E8F8F370;
    border: 3px solid #E8F8F390;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 4px;
    
    p{
        color: black;
    }

    .game-play-again{
        color: black;
        background-color: yellow;
        border: 2px solid yellowgreen;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }
}

.rotate{
    transform: rotateY(180deg);
}

.normal{
    transform: rotateY(0);
}

.loading{
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 44%;
    z-index: 200;
    border-radius: 8px;
    background-color: #E8F8F370;
    width: 230px;
    border: 3px solid #E8F8F390;

    .loading-icon{
        background-image: url("https://preview.redd.it/u0tcjayept5z.gif?format=png8&s=9267c48b2b31f2e354c8228ebdd499b0535d6b8f");
        background-size: cover;
        width: 80px;
        height: 80px;
        animation: rotating 2s linear infinite;
    }
    p{
        font-size: 1.4em;
    }
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}