.game-container{
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: grid;
    //grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 10px;
    perspective: 1000px;
    position: relative;

    .card{
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        transition: 0.6s;
        transform-style: preserve-3d;
        transform-origin: 50% 0;
        z-index: 100;

        // &:hover{
        //     transform: rotateY(180deg);
        // }

        &-front, &-back{
            position: absolute;
            width: 100px;
            height: 100px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &-front{
            transform: rotateY(0deg);
            z-index: 2;
            background-color: blueviolet;
        }

        &-back{
            transform: rotateY(-180deg);
            background-size: cover;
        }
    }
}

.rotate{
    transform: rotateY(180deg);
}

.normal{
    transform: rotateY(0);
}